In [26]:
# Import dependancies
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)

In [5]:
deliveries_df = pd.read_csv('./deliveries.csv')
matches_df = pd.read_csv('./matches.csv')

In [7]:
deliveries_df.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [8]:
matches_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [16]:
# taking the total score of the first inning
total_runs_x = (deliveries_df.groupby(['match_id','inning'])['total_runs']
                .sum()
                .reset_index())

total_runs_x = total_runs_x.query('inning==1')

In [23]:
# Merge the data with match data
matches_df = matches_df.merge(total_runs_x,left_on='id',right_on='match_id')

In [28]:
# take only the data where dl is not applied
matches = matches_df[matches_df['dl_applied'] == 0]

In [31]:
# Extracting necassary columns from the matches data
matches = matches[['match_id',
          'city',
          'team1',
          'team2',
          'winner',
          'total_runs']]

In [35]:
# Keep only teems that are currently playing in the ipl
matches['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [36]:
current_teams = [
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals'
]

In [38]:
# replace both column team1 and team2 in matches,the value delhi capitals into delhi dare devils
matches['team1'] = matches['team1'].replace('Delhi Daredevils', 'Delhi Capitals')
matches['team2'] = matches['team2'].replace('Delhi Daredevils', 'Delhi Capitals')

# Same for Deccan Charges into Sunrise Hydrabad
matches['team1'] = matches['team1'].replace('Deccan Chargers', 'Sunrisers Hyderabad')
matches['team2'] = matches['team2'].replace('Deccan Chargers', 'Sunrisers Hyderabad')

In [42]:
matches = matches[matches['team1'].isin(current_teams)]
matches = matches[matches['team2'].isin(current_teams)]

In [46]:
# check shape of the mathches data
matches.shape

(626, 6)

In [50]:
# Since we already have batting and bowling team in deliveries, drop it from matches
matches = matches.drop(columns=['team2', 'team1'])

In [54]:
# merge this data with deliveries using match_id
deliveries = deliveries_df.merge(matches, on='match_id')

In [57]:
# taking only the second inning ,because we have to chase the total score made in first inning
deliveries = deliveries.query('inning==2')